@model IEnumerable<WebApplication1.Models.WRITER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WRITERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WRITERLEVEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMPRODUCTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMFANS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MONTHTICKET)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WRITERNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PASSWORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WRITERLEVEL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUMPRODUCTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUMFANS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MONTHTICKET)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WRITERID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WRITERID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WRITERID })
        </td>
    </tr>
}

</table>
