@model WebApplication1.Models.BOOK

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BOOK</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BOOKNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOKNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WRITERID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WRITERID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STARTTIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STARTTIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATETIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATETIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOWNLOADNUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOWNLOADNUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COLLECTNUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COLLECTNUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IFEND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IFEND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOWNLOADLINK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOWNLOADLINK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRICEPERCHAPTER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRICEPERCHAPTER)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BOOKID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
