
@model PagedList.IPagedList<WebApplication1.Models.BOOK>
@using PagedList.Mvc 
@{
    Layout = "";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<link href="~/Content/PagedList.css" rel="stylesheet" />
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
 
    <tr>
        <th>
            BOOKNAME
        </th>
        <th>
            WRITERID
           
        </th>
        <th>
            STARTTIME
           
        </th>
        <th>
            UPDATETIME
           
        </th>
        <th>
            DOWNLOADNUM
           
        </th>
        <th>
            COLLECTNUM
        </th>
        <th>
            IFEND
        </th>
        <th>
            DOWNLOADLINK
        </th>
        <th>
            PRICEPERCHAPTER
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                
                @Html.DisplayFor(modelitem => item.BOOKNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WRITERID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STARTTIME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UPDATETIME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOWNLOADNUM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COLLECTNUM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IFEND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOWNLOADLINK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRICEPERCHAPTER)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BOOKID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BOOKID }) |
                    @Html.RouteLink("下载", new { controller = "DOWNLOADS", Action = "Download", bookid = item.BOOKID })
                </td>*@
        </tr>
    }


</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
