@model IEnumerable<WebApplication1.Models.BOOK>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BOOKNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WRITERID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STARTTIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPDATETIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOWNLOADNUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COLLECTNUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IFEND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOWNLOADLINK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICEPERCHAPTER)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BOOKNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WRITERID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STARTTIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPDATETIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOWNLOADNUM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COLLECTNUM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IFEND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOWNLOADLINK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRICEPERCHAPTER)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BOOKID }) |
            @Html.ActionLink("Details", "Details", new { id = item.BOOKID }) |
            @Html.RouteLink("下载", new { controller = "DOWNLOADS", Action = "Download",bookid=item.BOOKID })
        </td>
    </tr>
}

</table>
