@model IEnumerable<WebApplication1.Models.READER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.READERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIPREST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BALANCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMCOLLECTBOOK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MONTHTICKET)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.READERNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PASSWORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIPREST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BALANCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUMCOLLECTBOOK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MONTHTICKET)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.READERID }) |
            @Html.ActionLink("Details", "Details", new { id=item.READERID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.READERID })
        </td>
    </tr>
}

</table>
